@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

*{
	font-family: 'Amatic';
}
input[type=text]{
	width: 100%;
	padding: 10px 20px;
	margin: 8px 0px;
	border: 1px solid skyblue;
	border-radius: 6px;
	box-sizing: border-box;

}
input[type=number]{
	width: 20%;
	padding: 10px 20px;
	margin: 8px 0px;
	border: 1px solid green;
	border-radius: 6px;

}	
 button{
 	width: 40%;
 	background-color: #4C4F50;
 	color: white;
 	border-radius: 4px;
 	padding: 14px 20px;
 	margin: 8px 0px;
 	border: gray;
}
div{
	width: 50%;
	background-color: lightgray;
	margin: auto;
	padding: 20px;
	border-radius: 8px;
}
button:hover{
	background: blue;
}
